html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*:focus {outline: none;}

a{
	text-decoration: none;
}

@font-face {
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
/*     src: local("Droid Sans"), local("DroidSans"), url("http://themes.googleusercontent.com/font?kit=rS9BT6-asrfjpkcV3DXf__esZW2xOQ-xsNqO47m55DA") format("truetype"); */
}

input, textarea, select {
	border: 1px solid #AACCDD;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
	-webkit-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
	background-color: rgba(255, 255, 255, 0.7);
}

fieldset {
	border: 1px solid #AACCDD;
	border-radius: 4px;
	width: 400px;
	padding: 10px;
}

body {
	background: url('images/background.jpg');
	font-family: "Droid Sans","Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.4;
}

table {
	width: 100%;
	border: 1px solid #AACCDD;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
	-webkit-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
}

table thead tr {
	background: url('images/background.jpg');
}

table tr {
	border-bottom: 1px solid #AACCDD;
}

table tr td {
	padding: 3px;
	font-size: 12px;
}

.clear {
	clear: both;
}

#page {
	margin: 2% auto 40px;
	width: 1000px;
	border: 1px solid white;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
	-webkit-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
	background-color: #D8EAF5;
}

#user {
	float: right;
	width: 48%;
	text-align: right;
	padding-right: 2%;
}

#menu {
	display: table;
	width: 50%;
	float: left;
}

#menu li {
	float: left;
	text-align: center;
	margin-left: 20px;
	text-transform: uppercase;
}

#header {
	background-color: #fff;
	height: 25px;
	padding-top: 5px;
	font-size: 15px;
}

#header a, #header a:visited {
	color: #929292;
}

#content {
}

.row {
	margin-bottom: 20px;
	display: table;
}

.errorMessage {
	color: red;
}


.column {
	float: left;
	width: 60%;
}