body {
	background: white;
	font-family: Verdana, sans-serif;
	font-size: 13px;
	color: black;
}

div, img {
	margin: 0;
	padding: 0;
	border: none;
}

#wrap {
	margin-left: auto;
	margin-right: auto;
	width: 830px;
	/* background: url('/images/borders.png') repeat-y; */
}

#header {
	height: 300px;
	/* background: url('/images/top.png') no-repeat;*/
	background: url('/images/javascriptjam.png') no-repeat;
}

#header h1 {
	display: none;
}

#nav {
	/* background: #E5E4E5; */
	text-align: center;
	vertical-align: middle;
	margin: 0 19px 0 20px;
	height: 2em;
}

#nav a {
	color: black;
	line-height: 2em;
	padding: 0 5px 0 5px;
	text-decoration: none;
}

#nav a:hover, #nav a.selected {
	color: #999999;
}

#content {
        padding: .5em 5% 0 4%;
        line-height: 1.6;
        font-family: Verdana, Arial, Helvetica, sans-serif;
}

#content h3 {
        margin-left: -5px;
}


#content p:first-letter {
	margin-left: 1em;
}

#content a {
	text-decoration: none;
}

#content a:hover {
	text-decoration: underline;
}

#content a.top {
	font-size: x-small;
	float: right;
}

#footer {
	/* background: url('/images/bottom.png') no-repeat; */
	height: 127px;
        text-align: center;
	padding: 0px 24px 0 25px;
}

#footer a {
	color: black;
	text-decoration: underline;
}

#footer a:hover {
	color: white;
}

#footer p {
	padding-top: 20px;
}

h2 {
	font-weight: normal;
	border-bottom: 1px solid #E5E4E5;
}

pre {
	margin: 0 1em 0 1em;
	padding: 5px;
	background: #EFEFEF;
	border: 1px #CCCCCC;
	border-style: solid none solid;
}

dl{
	margin-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}

dt {
	font-weight: bold;
	margin-bottom: 0.1em;
}

dd {
	line-height: 1.5em;
	margin-left: 2em;
	margin-bottom: 0.1em;
}

abbr, acronym {
	border-bottom: 1px dotted black;
	cursor: help;
	letter-spacing: normal;
}

table {
	font-size: 100%;
	margin-left: 1em;
}

.category { margin: 0px; padding: 0px; font-size: 14pt; }
.devpanel { }
.userpanel { border-left: solid 1px #e5e4e5; }
.artpanel { border-left: solid 1px #e5e4e5; }
.formDataHeader { text-align: right; border-right: 1px solid #DADDE0; }
.mandatoryFormDataHeader { text-align: right; border-right: 1px solid #DADDE0; color: red; }
.box { font-size: 9pt; background-color: #FFFFFF; border: solid 1px #DADDE0; }
.openBox { background-color: #FFFFFF; border: solid 1px black; border-top: none; }
.explanatoryText {  font-size: x-small; color: #777777; }
