<style type="text/css">
<!--
:link { text-decoration: none; }
:visited { text-decoration: none; }
:active { text-decoration: none; }
:hover { text-decoration: underline; }

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

a.nav:link { color: white; font-size: 9pt; text-decoration: none; }
a.nav:visited { color: white; font-size: 9pt; text-decoration: none; }
a.nav:active { color: #B1CC02; font-size: 9pt; text-decoration: none; }
a.nav:hover { color: white; font-size: 9pt; text-decoration: underline; }

body { background-color: #FFFFFF; color: #000000; }
body.main { background-color: #DEDEDE; color: #000000; font-family: Verdana,Arial,Helvetica; font-size: 9pt; margin-left: 0px; margin-top: 0px; margin-right: 0px; }
table { font-size: 9pt; }
.box { font-size: 9pt; background-color: #FFFFFF; border: solid 1px black; }

.navStripe { color: white; background: #737FB9; border-bottom: solid 1px #00346A; }
.navStripeRight { color: white; background: #737FB9; #4E7E9C; border-bottom: solid 1px #00346A;  }

.largeColoredHeader { color: #FFFFFF; background: #508400; font-weight: bold; padding: 2px; }
.coloredHeader { color: #333366; background: #99CC33; font-weight: bold; border-bottom-color: #000000; border-bottom: solid; border-bottom-width: 1px; padding: 2px; }
.largeGreyHeader { color: black; background:  #E9E9F2; padding: 2px; border-bottom: 1px solid black; }

.errorMsg { font-size: 9pt; background-color: #FFFFFF; border: solid 1px #99CC33; border-bottom-color: black; border-right-color: black; border-spacing: 0px; }
.warningMsg { font-size: 9pt; background-color: #FFFFFF; border: solid 1px #99CC33; border-bottom-color: black; border-right-color: black; border-spacing: 0px; }
.infoMsg { font-size: 9pt; background-color: #FFFFFF; border: solid 1px #99CC33; border-bottom-color: black; border-right-color: black; border-spacing: 0px; }

.errorMsgHeader  { color: white; background: #FF0000; font-weight: bold; border-bottom: 1px solid #000000; padding: 2px; padding-left: 3px; }
.warningMsgHeader{ color: #333366; background: #FFF000; font-weight: bold; border-bottom: 1px solid #000000; padding: 2px; padding-left: 3px; }
.infoMsgHeader{ color: #333366; background: #99CC33; font-weight: bold; border-bottom: 1px solid #000000; padding: 2px; padding-left: 3px; }

.errorMsgIcon, .warningMsgIcon, .infoMsgIcon { padding: 3px; }

.errorMsgBody, .warningMsgBody, .infoMsgBody { font-family: arial, helvetica, sans-serif; font-size: 12pt; color: #000000; padding: 3px; }

.shopmenu {  }
.evenShopRow { border-top: 1px solid black; }
.evenShopRow2 {  }
.oddShopRow { border-top: 1px solid black; }
.oddShopRow2 {  }
.evenRow { border-top: 1px solid black; }

.items { background-color: #FFFFFF; border: solid 1px black; }
th { background-color: #FFFFFF; text-align: left; }
.itemsColoredHeader { color: #FFFFFF; background: #4E7E9C; font-weight: bold; padding: 2px; }

a.shop:link { color: white; font-size: 9pt; text-decoration: none; }
a.shop:visited { color: white; font-size: 9pt; text-decoration: none; }
a.shop:active { color: #B1CC02; font-size: 9pt; text-decoration: none; }
a.shop:hover { color: white; font-size: 9pt; text-decoration: underline; }
-->
</style>
