html {
  background: #c6c6c6 url('body.png') repeat-x;
}

body, body *{padding:0;margin:0} 
body {
  background: url('content-right.png') right repeat-y;
  width: 80%;
  margin: 0 auto 0 auto;
}
.container{
  background: #f2f2f2 url('content-left.png') left repeat-y;
  padding: 0;
  margin-right: 6px;
}
.content{
  background: url('header.png') top repeat-x;
}
.footer{
  background-color:#fff;
  background-image:url('footer.png');
  background-repeat:no-repeat;
  width:522px;
  height:14px
}

.content > H1 {
  background: url('logo.png') no-repeat;
  padding: 140px 20px 20px 20px;
}
